<ion-view title="Menu" ng-init="list()">
    <ion-nav-buttons side="left">
        <button ng-controller="LoginController" class="button button-icon icon ion-ios-arrow-back" ng-click="logout()"> Log Out</button>
    </ion-nav-buttons>
    <ion-content>
        
        <ion-item href="#/student">
            Students
        </ion-item>
      
      
    </ion-content>
</ion-view>