<ion-view title="Students" ng-init="list()">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-person-add" ng-click="create()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" onclick="location.href='#/menu';"> Menu</button>
    </ion-nav-buttons>
    <ion-content>
        
        <ion-item ng-repeat="student in data.students" href="#">
            {{student.title}}
        </ion-item>
      
      
    </ion-content>
</ion-view>